* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    width: 50vw;
    margin: auto;
}

.underline {
    width: 40px;
    height: 4px;
    background: hsl(205, 78%, 60%);
    margin: auto;
}