* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,button{
    font-size: 11px;
}
.container {
    display: grid;
    place-items: center;
    width: 50vw;
    margin: auto;
}

.underline {
    width: 40px;
    height: 4px;
    background: hsl(205, 78%, 60%);
    margin: auto;
}

.reviewCard {
    text-align: center;
    padding: 20px;
    width: 90%;
    box-shadow: 2px 2px 2px 2px lavender;
    margin-top: 20px;
}

#person-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.prev-btn,.next-btn{
    background-color: transparent;
    border: none;
    color: hsl(205, 78%, 60%);
    margin: 5px;
    cursor: pointer;
}

.random-btn {
    background-color: transparent;
    border: 1px solid hsl(205, 78%, 60%);
    color: hsl(205, 78%, 60%);
    padding: 5px;
    border-radius: 5px;
}

.random-btn:hover {
    background-color: hsl(205, 78%, 60%);
    color: white;
    border-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
    }
    .reviewCard {
        width: 90vw;
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
        width: 90vw;
    }
    .reviewCard{
        width: 90vw;
        margin: 0 auto;
    }
  }